header {
  background-image: url('../../images/mobile/image-hero.jpg');
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  // &__logo {
  // }

  // &__menu {
  // }
}
